@model string 

@{
    ViewData["Title"] = "Произошла ошибка!";
}

<h2>_Error</h2>
<div class="alert-danger">
    Во время выполнения запроса произошла ошибка!
    <span class="text-danger">@Model</span>
</div>

